.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app_panel {
  max-width: 400px;
}

.question_panel {
  text-align: center;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.question_panel_meaning {
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 64px;
}

.answer_button {
  text-align: center;
}

.next_button {
  text-align: center;
}
